.header {
  max-height: 40px;
  max-width: 100vw;
}

.header-content {
  display: flex;
  justify-content: space-between;
}

.header-img {
  max-width: 80px;
  border-radius: 50px;
  margin-left: 5px;
  margin-top: 5px;
}

.header-name {
  font-size: 25px;
  margin-top: 0px;
}

.fa-bars {
  margin-top: 45px;
  margin-right: 10px;
}
